.movies-list {
  background-color: var(--background-color-light-black);
  padding-top: 70px;
}

.movies-list__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .movies-list__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }

  .movies-list__list-element {
    display: block;
    margin-bottom: 11px;
  }

  .movies-list__list-element:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .movies-list {
    padding-top: 40px;
  }
  .movies-list__list {
    gap: 16px;
  }

  .movies-list__list-element {
    display: block;
    margin-bottom: 0;
  }
}
