.page-login {
  background-color: var(--background-color-light-black);
  padding: 70px 30px;

  min-height: 100vh;
  height: 1px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page-login__header {
  margin-bottom: 40px;
}

.page-login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 560px;
  max-width: 396px;
}

.page-login__title {
  color: var(--base-color-of-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0 0 40px;
}

.page-login__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-login__desctiption {
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 5px;
}

.page-login__input {
  color: var(--base-color-of-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
  margin-bottom: 6px;
}

.page-login__input::placeholder {
  color: var(--base-color-of-text);
  opacity: 0.3;
}

.page-login__input_type_password {
  color: var(--color-neon);
}

.page-login__error {
  color: var(--color-neon);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-block;
  min-height: 12px;
  margin-bottom: 6px;
}

.page-login__btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-login__submit-result-msg {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-login__submit-result-msg_err {
  color: var(--color-neon);
}

.page-login__submit-result-msg_ok {
  color: var(--color-blue);
}

.page-login__yet-login {
  text-align: center;
}

.page-login__yet-login-text {
  color: #8b8b8b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-block;
  margin-right: 6px;
}

.page-login__yet-login-link {
  color: var(--color-blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .page-login {
    padding: 56px 30px 30px;
  }

  .page-login__form {
    max-height: 694px;
  }

  .page-login__header {
    margin-bottom: 50px;
    text-align: center;
  }

  .page-login__title {
    margin-bottom: 80px;
    text-align: center;
  }

  .page-login__yet-login-text {
    font-size: 12px;
  }

  .page-login__yet-login-link {
    font-size: 12px;
  }
}
