.btn-submit-of-user-data {
  border-radius: 3px;
  background: var(--color-blue);
  padding: 13px 0;

  color: var(--base-color-of-text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 100%;
}