.navigation-guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.navigation-guest__link {
  text-decoration: none;
  color: var(--base-color-of-text);

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navigation-guest__signin-btn {
  border-radius: 3px;
  padding: 8px 20px;

  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;

  color: var(--base-color-of-text-contr);
  background-color: var(--background-color-green);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .navigation-guest {
    gap: 14px;
  }

  .navigation-guest__link {
    font-size: 10px;
  }

  .navigation-guest__signin-btn {
    font-size: 10px;
    padding: 5px 12px;
  }
}
