.header {
  padding: 18px 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--header-background-color);

  overflow-x: hidden;
}

.header__logo {
  display: block;
  margin: 0;
  height: 38px;
  width: 38px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 18px 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--header-background-color);

    overflow-x: hidden;
  }
}
