.header {
  padding: var(--header-vertical-padding) 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--header-background-color);

  overflow-x: hidden;
}
