:root {
  /* global */
  --base-color-of-text: #fff;
  --base-color-of-text-contr: #000;
  --border-active-size: 2px;
  --animation-time: 0.2s;
  --animation-type: linear;
  --background-color-light-black: #202020;
  --background-color-grey: #272727;
  --background-color-blue: #073042;
  --background-color-green: #3ddc84;
  --color-disabled: #bcbcbd;

  /* movies */
  --toggle-button-size: 30px;

  /* header */
  --header-background-color: var(--background-color-light-black);
  --header-account-btn-color-icon: #313131;

  /* techs on main */
  --tech-card-width: 90px;
  --tech-cards-gap: 10px;
}

.main-header-style {
  --header-background-color: var(--background-color-blue);
  --header-account-btn-color-icon: #0f4157;
}
