.movies-list {
  background-color: var(--background-color-light-black);
  padding-top: 70px;
}

.movies-list__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 28px;
  row-gap: 32px;
}

.movies-list__list-element {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .movies-list__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 320px) {
  .movies-list {
    padding-top: 40px;
  }

  .movies-list__list {
    gap: 16px;
  }
}
