.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  padding: 18px 0;

  border-radius: 6px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.movie__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  padding: 0 18px;
  width: 100%;
  box-sizing: border-box;
}

.movie__name {
  color: var(--base-color-of-text);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 120% */
}

.movie__time {
  color: #8b8b8b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.movie__img {
  display: block;
  margin: 0;
  object-fit: contain;
  width: 100%;
  max-height: 200px;
}

.movie__btn {
  background-image: url(../../../images/save-btn.svg);
  object-fit: cover;
  object-position: center;
  width: 100px;
  height: 29px;
}
