.promo {
  padding: 75px 70px;
  background-color: var(--background-color-blue);
}

.promo__content {
  display: flex;
  flex-direction: column;

  position: relative;
}

.promo__logo {
  display: block;
  margin: 0;

  position: absolute;
  right: 0;
  top: 0;

  width: 310px;
  height: 304px;
  object-fit: cover;
}

.promo__title {
  margin: 0 0 36px;
  max-width: 640px;

  color: var(--base-color-of-text);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
}

.promo__subtitle {
  display: inline-block;
  margin: 0 0 146px;
  max-width: 310px;

  color: var(--base-color-of-text);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: 0.5;
}

.promo__btn {
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;

  height: 36px;

  background: inherit;

  padding: 10px 20px;

  cursor: pointer;

  color: var(--base-color-of-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

@media screen and (max-width: 1100px) {
  .promo__content {
    align-items: center;
  }

  .promo__logo {
    top: 65px;
    right: auto;
  }

  .promo__title {
    text-align: center;
    font-size: 40px;
    line-height: 50px; /* 125% */

    margin: calc(492px - 75px) 0 22px;
  }

  .promo__subtitle {
    display: block;
    margin: 0 0 92px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    padding: 70px 10px 30px;
    background-color: var(--background-color-blue);
  }

  .promo__logo {
    top: 0px;
    right: auto;

    width: 210px;
    height: 206px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px; /* 125% */
    letter-spacing: -1.2px;

    margin: 250px 0 24px;
  }

  .promo__subtitle {
    margin: 0 0 80px;
  }
}
