.page-profile {
  background-color: var(--background-color-light-black);
  padding: 70px 30px;

  /* 74px - высота Header, важно за этим следить */
  min-height: calc(100vh - 74px);
  /* баг css. Без height,но с min-height дочерний элемент не может взять height 100% */
  height: 1px;
  box-sizing: border-box;
}

.page-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: auto;
  width: 100%;
  min-height: 100%;
  max-width: 410px;
}

.page-profile__title {
  color: var(--base-color-of-text);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin: 0 0 123px;
}

.page-profile__field {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 20px;
  row-gap: 2px;
  width: 100%;

  padding-bottom: 2px;

  border-bottom: 1px solid #424242;
}

.page-profile__field:last-of-type {
  padding: 16px 0 0;
  border: 0;
}

.page-profile__desctiption {
  color: var(--base-color-of-text);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-profile__input {
  color: var(--base-color-of-text);
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 100%;
  max-width: 350px;

  transition: color 0.2s linear;
}

.page-profile__input:hover {
  color: #ee3465;
}

.page-profile__input:disabled:hover {
  color: var(--base-color-of-text);
}

.page-profile__input:focus {
  color: var(--base-color-of-text);
}

.page-profile__error {
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-align: right;

  display: inline-block;
  min-height: 12px;

  grid-column: span 2;
}

.page-profile__btns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-profile__btn-edit {
  padding: 0 5px 0;

  color: var(--base-color-of-text);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page-profile__btn-logout {
  padding: 0 5px 0;

  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.page-profile__btn-submit {
  border-radius: 3px;
  background: #4285f4;
  padding: 13px 0;

  color: var(--base-color-of-text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 100%;
}

@media screen and (max-width: 768px) {
  .page-profile__title {
    margin: 0 0 96px;
  }
}

@media screen and (max-width: 400px) {
  .page-profile {
    padding: 30px;
  }
}
