.movies {
  background-color: #202020;
  padding: 70px 70px 80px;
}

.movies__btn-load-films {
  border-radius: 6px;
  background: #2f2f2f;

  padding: 10px;
  width: 100%;
  max-width: 1140px;
  margin: 60px 0 0;

  color: var(--base-color-of-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 70px 30px 80px;
  }

  .movies__btn-load-films {
    margin-top: 70px;
  }
}

@media screen and (max-width: 400px) {
  .movies {
    padding: 70px 10px 80px;
  }

  .movies__btn-load-films {
    margin-top: 80px;
  }
}
